.logo {
 display: block;
 width: 100%;
 box-sizing: border-box;
 max-height: 1000px;
}

.logo-icon {
  display: inherit;
  margin: auto;
  padding: inherit;

}


.login_form {

}


/*properties for a links in navbar*/
nav ul li a {
      text-decoration: none;
      color: inherit;
      display: inline-block;
      height:inherit;
      width:inherit;
      margin:10px 10px;
      padding: 1.2em;
    }

    nav ul li a:hover, nav ul li a:focus, nav ul li a:active {
      color: #18BC9C;
      background-color: transparent;
      -webkit-box-shadow: none;
      -moz-box-shadow: none;
      box-shadow: none;
    }

/*below 2 are propertiesfor the navbar (small/big) */
nav ul li{
      display: inline-block;
}

/* when mouse  */
.navlist :hover{
      background-color:green;
}



/* style for login form in navbar index page */
.login_form {
    border-radius: 10px;
    border-style:none;
    height: 20px;
    width: 200px;
}



/* style for big nav bar*/
.navbar {
      background-color:rgb(246, 74, 74);
      overflow: hidden; /* it doesn't show by default only when cliked*/
      color: white;
      padding: 0;
      text-align: center;
      margin: 0;
      text-decoration: none;
      -webkit-transition: max-height 0.4s;
      -ms-transition: max-height 0.4s;
      -moz-transition: max-height 0.4s;
      -o-transition: max-height 0.4s;
      transition: max-height 0.4s;

}

body {
  margin: 0;
}
