.logo {
 display: block;
 width: 100%;
 box-sizing: border-box;
 max-height: 1000px;
}

.logo-icon {
  display: inherit;
  margin: auto;
  padding: inherit;

}


.login_form {

}


/*properties for a links in navbar*/
div nav ul li{
      text-decoration: none;
      color: inherit;
      display: inline-block;
      height:inherit;
      width: inherit;
      padding: 1.2em;
}


/*below 2 are propertiesfor the navbar (small/big) */
div nav ul li{
      display: inline-block;

}

/* when mouse hovers over  */
div nav ul li a :hover{
      background-color:grey;
}



/* style for login form in navbar index page */
.login_form {
    border-radius: 10px;
    border-style:none;
    height: 20px;
    width: 200px;
}



/* style for big nav bar*/
.navbar {
      background-color:rgb(246, 74, 74);
      overflow: hidden; /* it doesn't show by default only when cliked*/
      color: white;
      padding: 0;
      text-align: center;
      margin: 0;
      text-decoration: none;
      -webkit-transition: max-height 0.4s;
      -ms-transition: max-height 0.4s;
      -moz-transition: max-height 0.4s;
      -o-transition: max-height 0.4s;
      transition: max-height 0.4s;

}

body {
  margin: 0;
}
