
/*sign up page css below*/

.sign_up_form {
  position: relative;
  text-align: center;
  height: 400px;
  width: 300px;
  padding-top: 14%;

}

body {
  background-color: black;
}



.outside_box_signup {
  background-color: hsla(8, 450%, 60%, 1.30);
  height: 26em;
  width: 21em;
  margin: auto;
  padding: auto;
  border-radius: 3px;
  transition: height 5s;
}


.outside_box_signup .active{
  background-color: black;
}



.signup_form {
  position: relative;
  text-align: center;
  padding-top: 13%;
}



.signup_form_inside {
  font-size: 1.2em;

}


.form-3 input[type=submit] {
  margin: 0;
  height: 2.5em;
  width: 6.8em;
  padding:0;
  background:transparent;
  border:0;
  font-size: 0.8em;
  cursor: pointer;
  position: relative;
  margin-top: 1em;
  border-radius: 1px;
  transition: width 300ms;
  -webkit-transition: width 300ms;
}

.form-3 input[type=submit]:hover {
  cursor: pointer;
  color: white;
  width: 12em;
}



p {
  text-align: center;
  font-size: 2em;
  position: relative;
}



/*Login form styles */

.form-3 {
    font-family: 'Ubuntu', 'Lato', sans-serif;
    font-weight: 400;
    /* Size and position */
    width: 300px;
    position: relative;
    margin: 40px auto 30px;
    padding: 10px;
    overflow: hidden;

    /* Styles */
    background: #111;
    border-radius: 0.4em;
    border: 1px solid #191919;
    box-shadow:
        inset 0 0 2px 1px rgba(255,255,255,0.08),
        0 16px 10px -8px rgba(0, 0, 0, 0.6);
}


.listtweet {
  width: 400px;
  height: 100px;
  border-radius: 7px;
  margin-top: 10px;
  text-align: center;
  vertical-align: middle;
  display: inline-block;
  background-color: rgb(255, 140, 83);
}

.listtweet:hover {
  width: 450px;
  transition: width 800ms;
  -webkit-transition: width 800ms;
}



.form_button {
  margin: 0;
  height: 50px;
  width: 100px;
  margin-left: 10px;
  padding:0;
  background:transparent;
  background-color: lightblue;
  border:0;
  font-family: inherit;
  font-size: 1.8em;
  cursor: pointer;
  position: relative;
  margin-top: 30px;
  border-radius: 10px;


.form-3 input[type=text]:focus,
.form-3 input[type=password]:focus {
    box-shadow: inset 0 0 2px #000;
    background: #494d54;
    border-color: green;
    outline: none; /* Remove Chrome outline */
}

.form-3 input[type=submit] {
    /* Width and position */
    width: 40%;
    padding: 8px 5px;

    /* Styles */
    border: 1px solid #0273dd; /* Fallback */
    border: 1px solid rgba(0,0,0,0.4);
    box-shadow:
        inset 0 1px 0 rgba(255,255,255,0.3),
        inset 0 10px 10px rgba(255,255,255,0.1);
    border-radius: 3px;
    background: #e63030;
    cursor:pointer;

    /* Font styles */
    font-family: 'Ubuntu', 'Lato', sans-serif;
    color: white;
    font-weight: 700;
    font-size: 15px;
    text-shadow: 0 -1px 0 rgba(0,0,0,0.8);
}



.form_button:hover {
  width: 150px;

  transition: width 300ms;
  -webkit-transition: width 300ms;


}

nav a img {
  margin-right: 20px;
}

.col-md-6 li {
  border-radius: 7px;
  margin-top: 10px;
  text-align: center;
  vertical-align: middle;
  display: inline-block;
  background-color: rgb(255, 140, 83);
}

.col-md-6 li:hover {
  width: 450px;
  transition: width 800ms;
  -webkit-transition: width 800ms;
}
